@import "../../../variables.scss";

.button {
  background: #00710c;
  border: grey outset 3px;
  border-radius: 5px;
  color: white;
  padding: 3px;
  margin-left: 5px;

  transition: color 0.2s linear, background 0.2s linear;
  &:hover {
    background: #005311;
  }

  &:disabled {
    background: $backgroundColor;
  }
}
