@import "../../../variables.scss";
@mixin footer {
  z-index: 10;
  text-align: center;
  padding: 30px 0 10px;
  margin-top: auto;
}

.footer__container {
  @include footer;
}

.footer__container_index {
  @include footer;
  color: $indexFontColor
}
