@mixin font-face-ttf($font-family, $url) {
  @font-face {
    font-family: '#{$font-family}';
    src: url('#{$url}.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}

$maxWidth: 1920;
@mixin adaptiv-font-1024($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 1024;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 1024px) / #{$maxWidth}));
}

