$fontColor: #000000;
$hoverFontColor: #005c0c;
$indexFontColor: #ffffff;
$linksFontColor: #23ac00;
$mainFontSize: 16px;
$largeFontSize: 18px;
$titleFontSize: 32px;
$backgroundColor: rgb(126, 136, 153);
